header{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
// header {
//     padding-top: 24px;
//     padding-bottom: 25px;
//     border-bottom: 1px solid #ececec;
// }
