.team {
    background-color: $accent-background-color;
    padding-top: 60px;
    padding-bottom: 60px;
}
.team__title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    line-height: 1.18;
    margin-bottom: 30px;
    letter-spacing: 0.03em;
}

