.logo {
    color: $primary-text-color;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 1.17;
}
.logo__color {
    color: $color-for-logo;
}
.logo__footer {
    color: $accent-text-color;
    margin-bottom: 20px;

    display: block;
}
