.nav-contacts__items {
    font-weight: 500;
    color: $title-text-color;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.14;
    font-size: inherit;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts__mail,
.nav-contacts__fon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.nav-contacts__fon {
    width: 10px;
    height: 16px;
}
.nav-contacts__items:hover,
.nav-contacts__items:focus {
    color: $color-for-logo;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .nav-contacts {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .nav-contacts {
        display: flex;
    }
    .nav-contacts__indent-left:last-child {
        margin-left: 50px;
    }
    .nav__list.dynamic::after {
        bottom: -32px;
    }
    .nav__list::after {
        bottom: -32px;
    }
}
