.container {
    max-width: 480px;
    margin: auto;
    padding: 0 15px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
    }
    .nav__list.dynamic::after {
        bottom: -24px;
    }
}
