$primary-text-color: #212121;
$title-text-color: #757575;
$accent-text-color: #ffffff;
$main-background-color: #ffffff;
$accent-background-color: #f5f4fa;
$color-for-logo: #2196f3;
$section-background-color: #2f303a;
